.sidebar_ovr {
	width: 300px;
	height: 100vh;
	background-color: var(--primary-color);
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	
	overflow: auto;
  }
  
  .sidebar_head_content {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: var(--primary-darker);

  }
  
  .sidebar_menu {
	display: flex;
	flex-direction: column;

  }
  
  .sidebar_menu div {
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .sidebar_menu div:hover {
	background-color: var(--primary-darker);
  }
  .nameContent {
	text-align: left;
	margin-left: 10px;
  }

.logout_button {
	
	background-color: red;
}

@media screen and (max-width: 900px){
	.sidebar_ovr{
		display: none;
	}
}


