@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*{
	font-family: "Sarabun", sans-serif;

}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



:root {
  --primary-color: #00964e;
  --background-color: #f0f0f0;
  --primary-hover:#00964d79;
  --negative-color:#f44336;
  --primary-darker:#025c30;
}

